input {
    height: 30px;
    border: none;
    outline: none;
    padding: 0 10px;
    padding-right: 35px;
    background-image: url('./image/search.svg');
    background-position: center right;
    background-repeat: no-repeat;
    border-radius: 3px;
    background-color: #f3f0f0;
    float: right;
}
